* { 
	margin: 0; 
	padding: 0; 
}



#overlay {
 z-index=9;
 float:left;
 position:absolute;
 width=100%;
 height=100%;
 background-color: white;

}

#graphdiv {
 z-index=11;
 float:right;
 position:absolute;
 width=100%;
 height=100%;
 display:absolute;

}

#countryimage {

display:inherit;
}


body {
	background-color: blue;
}

.Argentina {
	stroke: white;
	stroke-width: 5;

}

.Australia {
	stroke: white;
	stroke-width: 5;

}

.Canada {
	stroke: white;
	stroke-width: 5;

}

#DE {
	stroke: white;
	stroke-width: 5;

}

.Italy {
	stroke: white;
	stroke-width: 5;

}

.Japan {
	stroke: white;
	stroke-width: 5;

}

#MX {
	stroke: white;
	stroke-width: 5;

}

#UG {
	stroke: white;
	stroke-width: 5;

}

#UA {
	stroke: white;
	stroke-width: 5;

}

svg path {
	fill: green;
	stroke: white;
	stroke-width: .25;
}
svg path:hover {
	fill:white;
	transition:0.2s;
	cursor:pointer;
	
}
